--studyIDX
<studyIDX>
--FILELIST_DIR
/net/sescratch1/atoivonen/projects/filelists/
--LSC_NPZ_DIR
/lustre/scratch5/exempt/artimis/data/lsc240420/
--train_filelist
kn_rubin_ztf_train.txt
--validation_filelist
kn_rubin_ztf_val.txt
--block_structure
<B0>
<B1>
<B2>
<B3>
--embed_dim
<EMBED_DIM>
--anchor_lr
<ANCHOR_LR>
--num_cycles
<NUM_CYCLES>
--min_fraction
<MIN_FRACTION>
--terminal_steps
<TERMINAL_STEPS>
--warmup_steps
<WARMUP_STEPS>
--noise_scale
<NOISE_SCALE>
--n_rollout_steps
12
--tf_start
1.0
--tf_end
0.0
--tf_ramp_start_epoch
8
--tf_ramp_epochs
12
--ema_decay
0.1
--trn_rcrd_filename
./training_study<studyIDX>_epoch<epochIDX>.csv
--val_rcrd_filename
./validation_study<studyIDX>_epoch<epochIDX>.csv
--batch_size
<BATCH_SIZE>
--num_workers
<NUM_WORKERS>
--Ngpus
<NGPUS>
--Knodes
<KNODES>
--total_epochs
40
--cycle_epochs
1
--train_batches
<NTRN_BATCH>
--val_batches
<NVAL_BATCH>
--TRAIN_PER_VAL
5
--continuation
--checkpoint
<CHECKPOINT>
--pretrained_model
/usr/projects/artimis/mpmm/pretrained_models/ddp_ldr_prod_250721/study005_modelState_epoch0100.pth
